{% extends "layout.html" %}

{% block title %}
    Books and Reviews
{% endblock %}

{% block body %}
    <h1>Create Account</h1>

    <form action = "{{ url_for('authenticate') }}" method="POST">
        <div class="form-group">
            User Name:<br>
            <input type="text" name="username" value="yourusername">
            <br>
        </div>
        <div class="form-group">
            password:<br>
            <input type="password" name="passkey">
            <br><br>
        <button type="submit" class="btn btn-primary" name = "auth" value = "signin">Sign In</button>
        <button type="submit" class="btn btn-secondary" name = "auth" value = "signup">Sign Up</button>
      </form>

{% endblock %}
