{% extends "layout.html" %}

{% block title %}
    Books and Reviews
{% endblock %}

{% block body %}
    <h1>Welcome {{user}} </h1>

    <form action = "{{ url_for('search') }}" method="POST">
        <div class="form-group">
            Book Name:<br>
            <input type="text" name="bookstring" value="bookname">
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

    <h2> Book Results</h2>
    <ul>
        {% for book in books %}
            <li>{{ book.title }}</li>
        {% else %}
            <li>No book.</li>
        {% endfor %}
    </ul>
{% endblock %}
